@charset "UTF-8";
/*Choix de la police d'écriture*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/*Enleve la marge et le pas de défault*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: auto;
}

h1 {
  font-family: Shrikhand, cursive;
}

h2, h3, p, a {
  font-family: Roboto, sans-serif;
}

#header_logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.article_emplacement_restaurant {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.article_decouverte_restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  height: 287px;
  width: 100%;
}
.article_decouverte_restaurant__titre {
  width: 70%;
  text-align: center;
  margin-top: 30px;
}
.article_decouverte_restaurant__paragraphe {
  width: 65%;
  text-align: center;
  margin: 20px 0 0 0;
  color: gray;
}

.article_fonctionnement_restaurant {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 50px;
}
.article_fonctionnement_restaurant__liste {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}
@media screen and (min-width: 1050px) {
  .article_fonctionnement_restaurant__liste {
    flex-direction: row;
  }
}

.section_explication_principe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  background-color: #F7F7F7;
}

.titre_restaurant {
  display: flex;
  width: 100%;
  margin: 70px 0 20px 40px;
}

.bouton {
  display: flex;
  height: 50px;
  background: linear-gradient(175deg, #E972DA 30%, #9356DC);
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.bouton:hover {
  background: linear-gradient(175deg, #9356DC 30%, #E972DA);
}
.bouton__paragraphe {
  padding: 0 20px;
  color: white;
}

.bouton_fonctionnement_restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 320px;
  margin-top: 20px;
  background-color: #F7F7F7;
  border-radius: 30px;
  gap: 1rem;
  font-weight: bold;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.bouton_fonctionnement_restaurant:hover {
  background-color: #F5EDFF;
}
.bouton_fonctionnement_restaurant:hover > .logo_hover {
  color: #9356DC;
}
.bouton_fonctionnement_restaurant__ordre {
  display: flex;
  margin: auto 0 auto -10px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 0px;
}

.carte_restaurant {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 310px;
  gap: 1rem;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: white;
}
.carte_restaurant__image {
  width: 100%;
  height: 218px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.carte_restaurant__conteneur {
  display: flex;
  width: 92%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
}

.coeur_solid {
  position: absolute;
  /*right:2rem;
  bottom:2rem;  */
  z-index: 0;
  display: none;
}

.coeur_regular {
  position: absolute;
  /* right:2rem;
   bottom:2rem; */
  z-index: 2;
}

.logo_coeur {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
}
.logo_coeur:hover > .coeur_regular {
  display: none;
}
.logo_coeur:hover > .coeur_solid {
  display: block;
  animation: fill 2s forwards;
}

@keyframes fill {
  0% {
    color: #9356DC;
  }
  100% {
    background: linear-gradient(180deg, #9356DC 10%, #E972DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.nouveau {
  position: relative;
}
.nouveau::before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 1.5rem;
  background-color: #99E2D0;
  color: #1b6150;
}

/*# sourceMappingURL=style.css.map */
