@import "../utils/variables";
.bouton
{
    display: flex;
    height: 50px;
    width:fit-content;
    background: linear-gradient(175deg,#E972DA 30%,$couleurPrimaire) ;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20);
    &:hover
    {
        transform: scale(1.1);
        transition: transform 0.4s;  
    }
    &__paragraphe
    {
        padding:0 20px;
        color: white;
    }
}

.bouton_fonctionnement_restaurant
{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 320px;
    margin-top:20px;
    background-color: #F7F7F7;
    border-radius: 30px;
    gap:1rem;
    font-weight: bold;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20);
    &:hover
    {
        background-color: #F5EDFF; 
        
    }
    &:hover > .logo_hover
    {
        color:$couleurPrimaire; 
        
    }
    &__ordre
    {
        display: flex;
        margin:auto 0 auto -10px;
        background-color: $couleurPrimaire;
        height:24px;
        width:24px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color:white;
        position: absolute;
        left:0px;
    }
}